.contenedorSitemap {
    position: absolute;
    top: 140px;
    left: 30px;
}

p, a{  
    font-weight: 500;
    margin: 0;
}

.contenedor ul li{ 
    list-style: circle;
}
p, li{
    font-size: 15px;
}
