*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
    background: #e9e6e6;
}

.contenedor {
    margin: 15px 25px;
}

p, a{  
    font-weight: 500;
    margin: 0;
}

.contenedor ul li{ 
    list-style: circle;
}
p, li{
    font-size: 15px;
}
